Package: com.amm.holdtoopen
Name: HoldToOpen
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Andrew MacKie-Mason
Author: Andrew MacKie-Mason
Section: Tweaks
