Package: com.amm.holdtoopen
Name: HoldToOpen
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: Hold the tab reveal button in MobileSafari to create a new tab.
Maintainer: Andrew MacKie-Mason
Author: Andrew MacKie-Mason
Section: Tweaks
